// TODO
// 1. Preload svg images (for dog esp)
// 2. Fix gradient y-tiling on mobile

body {
  background-image: linear-gradient(#c7f3ff, #aad8e5, #60a1b3);
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  height: 100%;
  min-height: 100%;
}

article {
  z-index: 12;
  position: fixed;
  display: flex;
  padding: 0 1rem;
  width: 14rem;
  font-family: Arial, sans-serif;
  background-color: white;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  top: 5px;
  align-items: center;
  h1 {
    margin-right: .5rem;
    color: #333333;
    font-size: .9rem;
    text-align: center;
  }
  div {
    display: block;
    button {
      background-color: #ffffff;
      color: #000000;
      padding: .25rem;
      width: 8rem;
      border: 1px solid #999999;
      font-size: .65rem;
      &:hover {
        background-color: #eeeeee;
      }
      &:first-of-type {
        margin-bottom: .25rem;
      }
    }
  }
  i {
    width: 1.5rem;
    text-align: right;
  }
}

.slide-off {
  left: -13.5rem;
}
.slide-show {
  left: 0;
}

.fa-caret-right {
  animation: flash 2s ease-in-out infinite;
}

@keyframes flash {
  0% {
    color: black;
  }
  50% {
    color: limegreen;
  }
  100% {
    color: black;
  }
}

#dog {
  position: absolute;
  bottom: 4.5%;
  left: 43%;
  height: 25%;
  z-index: 5;
  content: url("dog1.svg");
}

.dogwalk {
  animation: walk .85s linear infinite;
}

@keyframes walk {
  0% {
    content: url("dog1.svg");
  }
  25% {
    content: url("dog2.svg");
  }
  50% {
    content: url("dog1.svg");
  }
  75% {
    content: url("dog3.svg");
  }
  100% {
    content: url("dog1.svg");
  }
}

.dogjump {
  animation: jump .75s linear;
}

@keyframes jump {
  0% {
    content: url("dog1.svg");
  }
  25% {
    content: url("dog4.svg");
    transform: translateY(-20%);
  }
  50% {
    content: url("dog4.svg");
    transform: translateY(-40%);
  }
  75% {
    content: url("dog4.svg");
    transform: translateY(-20%);
  }
  100% {
    content: url("dog1.svg");
  }
}

#grass1f {
  height: 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 7;
  background: url("grass.svg");
  background-repeat: repeat-x;
}

.g1fscroll {
  animation: scroll-center 12s linear infinite;
}

#grass1b {
  height: 10%;
  position: absolute;
  bottom: 2%;
  left: 0;
  width: 100vw;
  z-index: 6;
  background: url("grass2.svg");
  background-repeat: repeat-x;
}

.g1bscroll {
  animation: scroll-center 14s linear infinite;
}

#grass2f {
  height: 10%;
  position: absolute;
  bottom: 0;
  left: 100vw;
  width: 100vw;
  z-index: 7;
  background: url("grass.svg");
  background-repeat: repeat-x;
}

.g2fscroll {
  animation: scroll-right 12s linear infinite;
}

#grass2b {
  height: 10%;
  position: absolute;
  bottom: 2%;
  left: 100vw;
  width: 100vw;
  z-index: 6;
  background: url("grass2.svg");
  background-repeat: repeat-x;
}

.g2bscroll {
  animation: scroll-right 14s linear infinite;
}


#flat {
  background-color: #5C500F;
  height: 5%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

#hills1f {
  height: 75%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  z-index: 4;
  background: url("hills1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.h1fscroll {
  animation: scroll-center 20s linear infinite;
}

#hills2f {
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 100vw;
  width: 100%;
  max-width: 100%;
  z-index: 4;
  background: url("hills1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.h2fscroll {
  animation: scroll-right 20s linear infinite;  
}

#hills1b {
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  z-index: 3;
  background: url("hills2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.h1bscroll {
  animation: scroll-center 60s linear infinite;
}

#hills2b {
  height: 75%;
  position: absolute;
  bottom: 0;
  left: 100vw;
  width: 100%;
  max-width: 100%;
  z-index: 3;
  background: url("hills2tree.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.h2bscroll {
  animation: scroll-right 60s linear infinite;
}

#cloud1b {
  position: absolute;
  top: 15%;
  left: 15vw;
  width: 20vw;
  height: 20vw;
  z-index: 1;
  background: url("cloud1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  animation: scroll-center 140s linear infinite;
}

#cloud1f {
  position: absolute;
  top: 24%;
  left: 55vw;
  width: 30vw;
  height: 30vw;
  z-index: 2;
  background: url("cloud2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  animation: scroll-center 90s linear infinite;
}

#cloud2b {
  position: absolute;
  top: 13%;
  left: 115vw;
  width: 22vw;
  height: 22vw;
  z-index: 1;
  background: url("cloud3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  animation: scroll-right 140s linear infinite;
}

#cloud2f {
  position: absolute;
  top: 26%;
  left: 155vw;
  width: 28vw;
  height: 28vw;
  z-index: 2;
  background: url("cloud4.svg");
  background-repeat: no-repeat;
  background-size: contain;
  animation: scroll-right 90s linear infinite;
}

#bird {
  position: absolute;
  top: 40%;
  left: 115vw;
  width: 17vh;
  height: 17vh;
  z-index: 9;
  content: url("bird1.svg");
  animation: flap .5s linear infinite, soar 93s infinite;
}

@keyframes flap {
  0% {
    content: url("bird1.svg");
  }
  25% {
    content: url("bird2.svg");
  }
  50% {
    content: url("bird3.svg");
  }
  75% {
    content: url("bird2.svg");
  }
  100% {
    content: url("bird1.svg");
  }
}

@keyframes soar {
  0% {
    transform: translate(0, 0);
    visibility: visible;
  }
  80% {
    transform: translate(0, 0);
    visibility: visible;
  }
  97% {
    transform: translate(-200vw, -40vh);
    visibility: visible;
  }
  98% {
    transform: translate(-200vw, -40vh);
    visibility: hidden;
  }
  99% {
    transform: translate(0, 0);
    visibility: hidden;
  }
  100% {
    transform: translate(0, 0);
    visibility: visible;
  }
}


@keyframes scroll-center {
  0% {
    transform: translateX(0);
    visibility: visible;
  }
  50% {
    transform: translateX(-100vw);
    visibility: visible;
  }
  51% {
    transform: translateX(-100vw);
    visibility: hidden;
  }
  52% {
    transform: translateX(100vw);
    visibility: hidden;
  }
  53% {
    transform: translateX(100vw);
    visibility: visible;
  }  
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(0);
    visibility: visible;
  }
  97% {
    transform: translateX(-200vw);
    visibility: visible;
  }
  98% {
    transform: translateX(-200vw);
    visibility: hidden;
  }
  99% {
    transform: translateX(0);
    visibility: hidden;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

@media screen and (max-width: 1024px) {
  body {
    overflow-y: hidden;
  }
  #hills1f {
    width: 200%;
    max-width: 200%;
  }

  .h1fscroll {
    animation: smaller-center 20s linear infinite;
  }

  #hills2f {
    width: 200%;
    max-width: 200%;
    left: 200vw;
  }

  .h2fscroll {
    animation: smaller-right 20s linear infinite;  
  }

  #hills1b {
    width: 200%;
    max-width: 200%;
  }

  .h1bscroll {
    animation: smaller-center 60s linear infinite;
  }

  #hills2b {
    width: 200%;
    max-width: 200%;
    left: 200vw;
  }

  .h2bscroll {
    animation: smaller-right 60s linear infinite;
  }
  
  #cloud1b {
    width: 30vh;
    height: 30vh;
    animation: smaller-center 90s linear infinite;
  }

  #cloud1f {
    width: 45vh;
    height: 45vh;
    animation: smaller-center 60s linear infinite;
  }

  #cloud2b {
    width: 33vh;
    height: 33vh;
    left: 165vw;
    animation: smaller-right 90s linear infinite;
  }

  #cloud2f {
    width: 42vh;
    height: 42vh;
    left: 125vw;
    animation: smaller-right 60s linear infinite;
  }
}

@keyframes smaller-center {
  0% {
    transform: translateX(0);
    visibility: visible;
  }
  50% {
    transform: translateX(-200vw);
    visibility: visible;
  }
  51% {
    transform: translateX(-200vw);
    visibility: hidden;
  }
  52% {
    transform: translateX(200vw);
    visibility: hidden;
  }
  53% {
    transform: translateX(200vw);
    visibility: visible;
  }  
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes smaller-right {
  0% {
    transform: translateX(0);
    visibility: visible;
  }
  97% {
    transform: translateX(-400vw);
    visibility: visible;
  }
  98% {
    transform: translateX(-400vw);
    visibility: hidden;
  }
  99% {
    transform: translateX(0);
    visibility: hidden;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

@media(max-width: 500px) {
  #dog {
    left: 35%;
  }
  #hills1f {
    width: 300%;
    max-width: 300%;
  }

  .h1fscroll {
    animation: smallest-center 20s linear infinite;
  }

  #hills2f {
    width: 300%;
    max-width: 300%;
    left: 300vw;
  }

  .h2fscroll {
    animation: smallest-right 20s linear infinite;  
  }

  #hills1b {
    width: 300%;
    max-width: 300%;
  }

  .h1bscroll {
    animation: smallest-center 60s linear infinite;
  }

  #hills2b {
    width: 300%;
    max-width: 300%;
    left: 300vw;
  }

  .h2bscroll {
    animation: smallest-right 60s linear infinite;
  }
  
  #cloud1b {
    animation: smallest-center 90s linear infinite;
  }

  #cloud1f {
    animation: smallest-center 60s linear infinite;
  }

  #cloud2b {
    left: 165vw;
    animation: smallest-right 90s linear infinite;
  }

  #cloud2f {
    left: 215vw;
    animation: smallest-right 60s linear infinite;
  }
}

@keyframes smallest-center {
  0% {
    transform: translateX(0);
    visibility: visible;
  }
  50% {
    transform: translateX(-300vw);
    visibility: visible;
  }
  51% {
    transform: translateX(-300vw);
    visibility: hidden;
  }
  52% {
    transform: translateX(300vw);
    visibility: hidden;
  }
  53% {
    transform: translateX(300vw);
    visibility: visible;
  }  
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes smallest-right {
  0% {
    transform: translateX(0);
    visibility: visible;
  }
  97% {
    transform: translateX(-600vw);
    visibility: visible;
  }
  98% {
    transform: translateX(-600vw);
    visibility: hidden;
  }
  99% {
    transform: translateX(0);
    visibility: hidden;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}
